{% extends 'base.html' %}

{% block content %}

<div class="wrapper wrapper-content animated fadeInRight">

    <div class="clear row">
        <div class="col-md-2">
        <h3 class="animated bounce"><i class="iconfont icon-shunt"></i>快发波次监控</h3>
            {%  for servername in url_tag %}
                {% if 'suzhou' in servername %}
                 <div class="col-xs-6 col-md-12 col-lg-12">
                    <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                        <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                        <h4 class="text-right" style="color: snow">{{ servername.replace('tag_','')}}
                            <br><input id="b{{ servername }}" onchange="change(id)"  class="mui-switch mui-switch-animbg text-right" type="checkbox" checked >
                        </h4>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-2">
        <h3 class="animated bounce"><i class="iconfont icon-shunt"></i>商品服务监控</h3>
             {%  for servername in url_sku  %}
                {% if 'suzhou' in servername %}
                 <div class="col-xs-6 col-md-12 col-lg-12">
                    <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                        <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                        <h4 class="text-right" style="color: snow">{{ servername.replace('sku_','')}}
                            <br><input  id="b{{ servername }}" onchange="change(id)" class="mui-switch mui-switch-animbg text-right" type="checkbox" checked >
                        </h4>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <br>
    <div class="clear row">
        <div class="col-md-6">
        <h3 class="animated bounce"><i class="iconfont icon-shunt"></i>分发服务</h3>
            {%  for servername in url_distrib %}
                 <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                        <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                        <h4 class="text-right" style="color: snow">
                            {{ servername.replace('oms-','') }}
                            <br><input id="b{{ servername }}" onchange="change(id)" class="mui-switch mui-switch-animbg text-right" type="checkbox" checked >
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col-md-6">
        <h3 class="animated bounce"><i class="iconfont icon-shunt"></i>基础服务监控</h3>
            {%  for servername in url_base %}
                 <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                    <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                        <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                        <h4 class="text-right" style="color: snow">{{ servername.replace('base_','') }}
                            <br><input id="b{{ servername }}" onchange="change(id)" class="mui-switch mui-switch-animbg text-right" type="checkbox" checked >
                        </h4>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <br>
    <h3 class="animated bounce"><i class="iconfont icon-single-sign-on"></i>单点服务</h3>
    <div class="row">
        <div class="col-md-6">
        <h4>ECS207</h4>
            {%  for servername in url_singlep %}
                {% if 'ECS207' in servername %}
                     <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                            <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                            <h4>
                                <p class="text-right" style="color: snow">{{ servername.replace('ECS207-','') }}
                                <br><input id="b{{ servername }}"  onchange="change(id)" class="mui-switch mui-switch-animbg text-right" type="checkbox" checked ></p>
                            </h4>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col-md-6">
            <h5><b>ECS111 </b>  | ECS71  | ECS43   |  ECS125</h5>
            {%  for servername in url_singlep %}
                {% if 'ECS111' in servername or 'ECS71' in servername or 'ECS43' in servername or 'ECS125' in servername %}
                     <div class="col-xs-6 col-sm-6 col-md-4 col-lg-3">
                        <div style="height: 90px" class="ibox-content navy" id={{ servername }}>
                            <i style="color: snow" id="i{{ servername }}" class="fa fa-2x fa-gear mymove"></i>
                            <h4>
                                <p class="text-right" style="color: snow">{{ servername.replace('ECS','') }}
                                <br><input id="b{{ servername }}" onchange="change(id)" class="mui-switch mui-switch-animbg text-right" type="checkbox" checked ></p>
                            </h4>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}

