<!-- Mainly scripts -->
<script src="../static/js/jquery-3.1.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="../static/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Sparkline -->
<script src="../static/js/plugins/sparkline/jquery.sparkline.min.js"></script>

<!-- Peity -->
<script src="../static/js/plugins/peity/jquery.peity.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="../static/js/inspinia.js"></script>
<script src="../static/js/plugins/pace/pace.min.js"></script>

<!-- be used to initialize the page and keep the statu -->
<script src="../static/initialize.js"></script>

<!-- be used to flash the server status and the animate -->
<script src="../static/update.js"></script>
<script src="../static/echarts.js"></script>